<!-- Featured -->

    <div class="tabbed_container">
        <div class="tabs">
            <ul class="clearfix">
                <li class="active">Most Selling</li>

            </ul>
            <div class="tabs_line"><span></span></div>
        </div>

        <!-- Product Panel -->
        <div class="product_panel panel active">
            <div class="featured_slider slider">

                <!-- Slider Item -->
                <div class="featured_slider_item">
                    <div class="border_active"></div>
                    <div
                        class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="product_image d-flex flex-column align-items-center justify-content-center"><img
                                src="assets/images/buyvegetablesonline.png" alt=""></div>
                        <div class="product_content">
                            <div class="product_price discount">Rs225<span>Rs300</span></div>
                            <div class="product_name">
                                <div><a href="product.html">Marsi Rice...</a></div>
                            </div>
                            <div class="product_extras">
                                <div class="product_color">
                                    <input type="radio" checked name="product_color" style="background:#b19c83">
                                    <input type="radio" name="product_color" style="background:#000000">
                                    <input type="radio" name="product_color" style="background:#999999">
                                </div>
                                <button class="product_cart_button">Add to Cart</button>
                            </div>
                        </div>
                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                        <ul class="product_marks">
                            <li class="product_mark product_discount">-25%</li>
                            <li class="product_mark product_new">new</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="featured_slider_dots_cover"></div> -->
        </div>
    </div>